.code {
  display: flex;
  padding-block: 2rem;
  overflow: hidden;
}

.code pre {
  position: relative;
  margin: auto;
  max-width: 80%;
}

.code pre > code {
  border-radius: 1rem;
  max-height: 30rem;
  overflow: overlay;
}

.code pre > code::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.code pre > code::-webkit-scrollbar-track-piece:start,
.code pre > code::-webkit-scrollbar-track-piece:end {
  margin: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.code pre > code::-webkit-scrollbar-track,
.code pre > code::-webkit-scrollbar-thumb,
.code pre > code::-webkit-scrollbar-corner {
  background: transparent;
}

.code pre > code:hover::-webkit-scrollbar-thumb {
  background-color: var(--davys-grey-opaque);
}

.code pre > div.copy {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 1em;
  right: 5%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuklEQVR4nN2UsQ2DMBBFX52CCaBmCGAK0ngHFksa5mCXCCWkoHRkyWkcbPlORAr50q8s/2ed/A/+TSegBc6AididdUChCe8TwSZw7+9kqxWEG+9GAkiNxSTGlS2j9DEAAzABK2AjXoARqKWAAXgmgkPPQCUBTILwt68SwKoAPCTf1Cr9oe7bgCKyKuxeAPxuaYJx2T0BW7KHByyK8LsEMCoAFwmg9vXPDb8BJUJVvv6uoan2upeLw39bL8nQ4F3mbEqCAAAAAElFTkSuQmCC")
    no-repeat center;
  border-radius: 4px;
}

.code pre > div.copy:hover {
  box-shadow: 0 0 2px 2px black;
}

.notification {
  position: fixed;
  bottom: 10%;
  left: 50%;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  transform: translateX(-50%);
  background: var(--st-patricks-blue);
  color: var(--lavender-blush);
  font-family: FiraCode;
}

.code pre > div.copy.disabled {
  display: none;
}
